<%= @screen.id %>


<div class="row">
<% @screen.images.each do |slide| %>
   <div class="col-md-3 col-sm-3 col-xs-6">
     <%= image_tag slide.url, class: "img-responsive" %>
    </div>
<% end %>
</div>

<script>
  $(function(){
    $("#slides").electricSlide();
  })
</script>
