<div id = "myCarousel" class = "carousel slide" data-ride="carousel" >
  <div class="carousel-inner img">
    <div class="item active">
      <%= image_tag @screen.images.first.url %>
    </div>
    <% @screen.images.drop(1).each do |photo| %>
        <div class="item">
          <%= image_tag photo.url %>
        </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#myCarousel').carousel({
      interval: 1000
    });
  });
</script>
